* {
    border: px solid red !important;
}



.titlePub {
        font-size: 4rem;
        line-height: 1.16364;
        text-shadow: 0.05em 0em #333

    }

.titleright{
	font-size: 3.5rem;
	text-align: right
}

.ir-arriba {
	position: fixed;
	width:50px;
	right:10%;
	bottom: 10%;
	display: none;
	cursor: pointer;
}

.logoPos{
	display: inline-block;
	margin-left: 725px;
}

.imgSha{
	-moz-box-shadow: rgb(150,150,150) 10px 10px;
    -webkit-box-shadow: rgb(150,150,150) 10px 10px;
    box-shadow: rgb(150,150,150) 0px 0px 45px 1px; 
}

#back-top-wrapper p#back-top { margin:0; }
#back-top-wrapper p#back-top a { width:42px; }
#back-top-wrapper p#back-top a:hover span { background-position:0% -42px; }
#back-top-wrapper p#back-top a span {
	background:url('images/up.png') no-repeat 0% 0%;
	width:42px;
	height:42px;
	overflow:hidden;
	margin:0;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
}
