* {
    border: px solid red !important;
}



.titlePub {
        font-size: 4rem;
        line-height: 1.16364;
        text-shadow: 0.05em 0em #333
    }

.titleright{
	font-size: 3.5rem;
	text-align: right
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: relative;
	bottom:20px;
	right:20px;
}
